@font-face {
  src: url(fonts/OpenSans-Regular.woff);
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url(fonts/OpenSans-Bold.woff);
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.welcome {
  background-image: url(../images/football_767.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}

.welcome::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0a0e34;
  opacity: 0.9;
}

.container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
}

.surface-logo {
  fill: #ffffff;
  width: 135px;
  height: 38px;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  width: 88%;
  text-align: left;
  font-size: 28px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 34px;
}

h1 span {
  display: block;
  text-align: right;
}

.download-buttons {
  display: flex;
  flex-direction: column;
}

a {
  background-color: #5e42b0;
  text-decoration: none;
  width: 280px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-top: 14px;
  border-radius: 17px;
}

ul {
  list-style-type: none;
}

.apple-icon {
  width: 20px;
  height: 24px;
  fill: #ffffff;
  margin-right: 9px;
}

.google-icon {
  width: 22px;
  height: 24px;
  fill: #ffffff;
  margin-right: 9px;
}

.download-already {
  font-size: 8px;
  letter-spacing: 0px;
  font-weight: 400;
}

.store-name {
  font-size: 8px;
  letter-spacing: 0px;
  font-weight: 700;
  display: block;
}

h2 {
  font-size: 50px;
  color: #e7e7e7;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 25px;
}

.first-part header, .second-part header {
  padding-left: 20px;
  padding-right: 20px;
}

.first-part article,
.second-part article {
  margin-bottom: 110px;
  padding-left: 20px;
  padding-right: 20px;
}

.sports-image, .sports-image-two {
  text-align: center;
}

.first-part article:nth-of-type(n + 2),
.second-part article:nth-of-type(n + 2) {
  margin-bottom: 55px;
}

.first-part article:nth-of-type(n + 3) {
  margin-bottom: 0;
  background-color: #5e42b0;
  color: #ffffff;
  padding-top: 55px;
  padding-bottom: 55px;
}

h3 {
  display: flex;
  align-items: center;
  font-size: 23px;
  letter-spacing: 1px;
  color: #c1c1c1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.number {
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
  font-weight: 700;
  margin-right: 9px;
}

.number::after {
  content: "";
  display: block;
  width: 15px;
  height: 4px;
  border-radius: 1px;
  background-color: #5e42b0;
}

.dark-background .number::after {
  background-color: #ffffff;
}

p {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
}

.dark-background p {
  color: #ffffff;
}

.second-part article:nth-of-type(n + 3) {
  margin-bottom: 0;
  background-color: #090c35;
  padding-top: 55px;
  padding-bottom: 55px;
}

.second-part .dark-background .number {
  color: #8765dd;
}

.third-part article {
  margin-bottom: 77px;
}

.third-part article:nth-of-type(n + 3) {
  margin-bottom: 67px;
}

.header-and-text {
  padding-left: 20px;
  padding-right: 20px;
}

.third-part h3 {
  font-size: 28px;
  line-height: 34px;
  color: #e7e7e7;
}

.third-part p {
  font-size: 16px;
  line-height: 20px;
}

.full-screen-image {
  max-width: 100%;
  margin-bottom: 35px;
}

.footer {
  background-image: url(../images/game_767.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}

.footer::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0a0e34;
  opacity: 0.9;
}

.footer_container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-logo {
  fill: #ffffff;
  width: 60px;
  height: 50px;
  background-image: linear-gradient(
    0deg,
    #50329c 0%,
    #5e3db3 51%,
    #7751db 100%
  );
  border-radius: 17px;
  text-align: center;
  padding: 12px 7px;
  margin-top: 50px;
  box-sizing: content-box;
}

.download-text h3 {
  font-size: 32px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 700;
}

.download-text p {
  font-size: 14px;
  letter-spacing: 1px;
  color: #9b8ec1;
  font-weight: 400;
}

.surface_logo {
  fill: #ffffff;
  width: 135px;
  height: 38px;
  padding-bottom: 10px;
}

@media (min-width: 641px) and (max-width: 960px) {
  .welcome {
    background-image: url(../images/football_1280.jpg);
  }
  .surface-logo {
    width: 205px;
    height: 55px;
  }

  h1 {
    font-size: 64px;
    letter-spacing: 3px;
    line-height: 77px;
  }

  .download-buttons {
    display: flex;
    flex-direction: row;
  }

  a {
    width: 311px;
    height: 77px;
    border-radius: 38px;
    filter: drop-shadow(8px 13.856px 12px #0a0e34);
    background-color: #5e42b0;
  }

  .apple-button {
    margin-right: 30px;
  }

  .apple-icon {
    width: 37px;
    height: 42px;
    margin-right: 27px;
  }

  .google-icon {
    width: 41px;
    height: 45px;
    margin-right: 28px;
  }

  .download-already {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 17px;
    font-weight: 300;
  }

  .store-name {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 17px;
    font-weight: 700;
  }

  h2 {
    font-size: 80px;
    position: relative;
  }

  .first-part {
    position: relative;
  }

  .sports-image {
    position: absolute;
    left:-150px;
    z-index: 2;
    top: 30px;
  }

  .first-part h2 {
    position: relative;
    left: 50vw;
  } 

  .first-part article {
    padding-right: 32px;
    
  }

  .first-part-articles {
    position: relative;
  }

  .first-part-articles h3 {
    left: 50vw;
    position: relative;
  }

  .first-part-articles p {
    width: 50vw;
    position: relative;
    left: 50vw;
    padding-right: 32px;
  }

  .first-part article,
  .second-part article {
    margin-bottom: 75px;
  }

  .first-part article:nth-of-type(n + 2),
  .second-part article:nth-of-type(n + 2) {
    margin-bottom: 35px;
  }

  .first-part article:nth-of-type(n + 3) {
    padding-top: 45px;
    padding-bottom: 35px;
  }

  h3 {
    font-size: 32px;
    letter-spacing: 2px;
  }

  .number {
    font-size: 18px;
  }

  .number::after {
    width: 19px;
    height: 5px;
    border-radius: 2px;
  }

  p {
    font-size: 16px;
  }

  .second-part {
    position: relative;
  }

  .sports-image-two {
    position: absolute;
    right: 0;
    z-index: 2;
    top: -40px;
  }

  .second-part article {
    padding-left: 32px;
  }

  .second-part-articles {
    position: relative;
        
  }
  .second-part-articles p {
    width: 50vw;
  }

  .second-part article:nth-of-type(n + 3) {
    padding-top: 44px;
    padding-bottom: 44px;
    margin-bottom: 0;
  }

  .third-part article {
    margin-bottom: 100px;
  }

  .third-part h3 {
    font-size: 80px;
    line-height: 60px;
  }

  .third-part p {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 28px;
  }

  .full-screen-image {
    max-width: 100%;
    margin-bottom: 80px;
  }

  .footer_container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .footer-logo {
    fill: #ffffff;
    width: 106px;
    height: 87px;
    background-image: linear-gradient(
      0deg,
      #50329c 0%,
      #5e3db3 51%,
      #7751db 100%
    );
    border-radius: 35px;
    text-align: center;
    padding: 24px 12px 26px 12px;
    margin-top: 125px;
  }

  .download-text h3 {
    font-size: 80px;
    letter-spacing: 4px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  .download-text p {
    font-size: 36px;
    color: #a496ca;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  .footer .surface_logo {
    width: 205px;
    height: 55px;
  }
}

@media (min-width: 961px) and (max-width: 1920px) {
  .welcome {
    background-image: url(../images/football_1920.jpg);
  }
  .surface-logo {
    width: 191px;
    height: 53px;
  }

  h1 {
    font-size: 90px;
    letter-spacing: 5px;
    line-height: 108px;
  }
  .download-buttons {
    display: flex;
    flex-direction: row;
  }

  a {
    width: 311px;
    height: 77px;
    border-radius: 38px;
    background-color: #5e42b0;
  }

  .apple-button {
    margin-right: 50px;
  }

  .apple-icon {
    width: 40px;
    height: 48px;
    margin-right: 26px;
  }

  .google-icon {
    width: 40px;
    height: 50px;
    margin-right: 29px;
  }

  .download-already {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16.8px;
    font-weight: 400;
  }

  .store-name {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16.8px;
    font-weight: 700;
  }

  h2 {
    font-size: 80px;
    margin-top: 118px;
    margin-bottom: 110px;
  }

  .first-part {
    position: relative;
  }

  .first-part h2 {
    position: relative;
    left: 50vw;
  }

  .sports-image {
    position: absolute;
    z-index: 2;
    left: 10vw;
    top: 0;
  }

  .first-part-articles {
    position: relative;
  }

  .first-part-articles h3 {
    position: relative;
    left: 50vw;
  }

  .first-part-articles p {
    position: relative;
    left: 50vw;
    width: 50vw;
    padding-right: 10vw;
  }

  .first-part article,
  .second-part article {
    margin-bottom: 110px;
  }

  .first-part article:nth-of-type(n + 2),
  .second-part article:nth-of-type(n + 2) {
    margin-bottom: 55px;
  }

  .first-part article:nth-of-type(n + 3) {
    padding-top: 60px;
    padding-bottom: 55px;
  }

  h3 {
    font-size: 36px;
    letter-spacing: 2px;
  }

  .number {
    font-size: 18px;
  }

  .number::after {
    width: 19px;
    height: 5px;
    border-radius: 2px;
  }

  p {
    font-size: 20px;
    line-height: 24px;
  }

  .second-part {
    position: relative;
  }

  .sports-image-two {
    position: absolute;
    z-index: 2;
    top: -40px;
    right: 20px;
  }

  .second-part h2 {
    padding-left: 10vw;
  }

  .second-part-articles h3 {
    padding-left: 10vw;
  }

  .second-part article:nth-of-type(n + 3) {
    padding-top: 60px;
    padding-bottom: 55px;
    margin-bottom: 0;
  }

  .second-part-articles p {
    width: 50vw;
    padding-left: 10vw;
  }

  .third-part-article {
    display: flex;
    margin: 0;
  }

  .third-part .third-part-article {
    margin-bottom: 0;
  }

  /* .third-part .third-part-article:nth-of-type(n+2) {
    padding-bottom: 190px;
  } */

  .third-part .third-part-article:nth-of-type(n+3) {
    margin-bottom: 0;
  }

  .header-and-text {
    flex-direction: column;
    width: 50vw;
    padding-left: 126px;
    padding-right: 190px;
    padding-top: 260px;
  }

  .full-screen-image {
    width: 50vw;
    margin-top: 0;
    margin-bottom: 0;
  }

  .third-part h3 {
    font-size: 80px;
    line-height: 60px;
    margin-bottom: 118px;
  }

  .third-part p {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 28px;
  }

  .header-and-text .reverse {
    position: relative;
    left: 0;
    margin-bottom: 280px;
  }

  .reverse-picture {
    position: absolute;
    right: 0;
  }


  .footer {
    background-image: url(../images/game_1280.jpg);
  }


  .footer-logo {
    fill: #ffffff;
    width: 106px;
    height: 87px;
    background-image: linear-gradient(
      0deg,
      #50329c 0%,
      #5e3db3 51%,
      #7751db 100%
    );
    border-radius: 35px;
    text-align: center;
    padding: 24px 12px 26px 12px;
    margin-top: 125px;
  }

  .download-text h3 {
    font-size: 80px;
    letter-spacing: 4px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  .download-text p {
    font-size: 30px;
    color: #a496ca;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  .footer .surface_logo {
    width: 190px;
    height: 25px;
  }
}

@media (min-width: 1921px) {
  .welcome {
    background-image: url(../images/football_1920.jpg);
  }
  .surface-logo {
    width: 191px;
    height: 53px;
  }

  h1 {
    font-size: 90px;
    letter-spacing: 5px;
    line-height: 108px;
  }

  .download-buttons {
    display: flex;
    flex-direction: row;
  }

  a {
    width: 311px;
    height: 77px;
    border-radius: 38px;
    background-color: #5e42b0;
  }

  .apple-button {
    margin-right: 50px;
  }

  .apple-icon {
    width: 40px;
    height: 48px;
    margin-right: 26px;
  }

  .google-icon {
    width: 40px;
    height: 50px;
    margin-right: 29px;
  }

  .download-already {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16.8px;
    font-weight: 400;
  }

  .store-name {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16.8px;
    font-weight: 700;
  }

  h2 {
    font-size: 80px;
  }

  .first-part article,
  .second-part article {
    margin-bottom: 110px;
  }

  .first-part article:nth-of-type(n + 2),
  .second-part article:nth-of-type(n + 2) {
    margin-bottom: 55px;
  }

  .first-part article:nth-of-type(n + 3) {
    padding-top: 60px;
    padding-bottom: 55px;
  }

  h3 {
    font-size: 36px;
    letter-spacing: 2px;
  }

  .number {
    font-size: 18px;
  }

  .number::after {
    width: 19px;
    height: 5px;
    border-radius: 2px;
  }

  p {
    font-size: 20px;
  }

  .second-part article:nth-of-type(n + 3) {
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .third-part-article {
    display: flex;
    margin: 0;
  }

  .header-and-text {
    flex-direction: column;
    width: 50vw;
    margin-left: 120px;
  }

  .full-screen-image {
    width: 50vw;
  }



  .third-part h3 {
    font-size: 80px;
    line-height: 60px;
  }

  .third-part p {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 28px;
  }

  .footer {
    background-image: url(../images/game_1920.jpg);
  }

  .footer-logo {
    fill: #ffffff;
    width: 106px;
    height: 87px;
    background-image: linear-gradient(
      0deg,
      #50329c 0%,
      #5e3db3 51%,
      #7751db 100%
    );
    border-radius: 35px;
    text-align: center;
    padding: 24px 12px 26px 12px;
    margin-top: 125px;
  }

  .download-text h3 {
    font-size: 80px;
    letter-spacing: 4px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  .download-text p {
    font-size: 30px;
    color: #a496ca;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  .footer .surface_logo {
    width: 190px;
    height: 25px;
  }
}